.hero {
  min-height: 90vh;
  color: #fff;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 255, 0.5),
      rgba(0, 0, 255, 0.5)
    ),
    url('../../images/compressed/hero-3.webp');
  background-size: cover;
  background-position: center;

  &-content {
    padding-top: 4rem;
    height: 100%;

    &-title {
      font-size: 2rem;
      font-weight: 700;
      padding-bottom: 1rem;
      text-align: center;
    }

    &-main {
      display: grid;
      grid-template-columns: 2.5fr 1fr;
      align-items: center;
      justify-content: center;
      margin: 3rem auto;
      background-color: rgba(0, 0, 0, 0.4);
      border: 2px solid #fff;
      border-radius: 1rem;
      min-height: 50vh;
    }

    &-image {
      order: 2;
      margin: auto;
    }

    &-about {
      padding: 1.5rem;
      display: flex;
      flex-flow: column wrap;
      align-items: flex-start;
      justify-content: flex-start;
      border-right: 5px solid #fff;
    }

    &-action {
      display: flex;
    }

    p {
      font-size: 1.3rem;
      padding-bottom: 1rem;
      line-height: 1.5;
      letter-spacing: 0.05rem;
    }
  }
}

.btn-hero,
.btn-work {
  border-radius: 1rem;
  padding: 1rem;
  outline: none;
  border: none;
  margin: 1rem 1rem 0 0;
  box-shadow: 2px 4px 0 0 #000;
  font-size: 1.1rem;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  transition: all 0.5s ease;
}

.btn-hero {
  background-color: #fff;
  color: #00f;
  i {
    padding: 0.5rem;
  }
  &:hover {
    background-color: rgba(0, 0, 255, 0.4);
    color: #fff;
  }
}

.btn-work {
  background-color: #5cb85c;
  color: #fff;
  i {
    padding: 0.5rem 0.5rem 0.5rem;
  }

  &:hover {
    background-color: rgba(0, 255, 0, 0.8);
  }
}

@media screen and (max-width: 600px) {
  .hero {
    min-height: 100vh;

    &-content {
      padding-bottom: 3rem;
      &-main {
        margin: auto;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        background: none;
        border: 2px solid #fff;
        width: 90%;
      }

      &-about {
        display: block;
        border: 0;
        text-align: center;
      }

      &-image {
        order: 0;
        border-bottom: 2px solid #fff;
      }

      &-action {
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
      }
      p {
        font-size: 1rem;
      }
    }
  }

  .btn-hero,
  .btn-work {
    margin: 1rem 0;
    font-size: 1rem;
  }
}
