.about {
  padding: 5rem 0;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url('../../images/about/about.jpg');
  background-position: center;
  background-size: cover;

  &-container {
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }

  h1 {
    font-size: 1.6rem;
    text-decoration: underline;
  }

  p {
    font-size: 1.2rem;
  }
}
