.contact {
  text-align: center;
  padding: 5rem 1rem;
  background-image: linear-gradient(to right, #232526, #414345);
  color: #fff;

  h1 {
    text-decoration: underline;
  }

  &-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    & > div {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      align-self: flex-start;
      padding: 2rem;

      i {
        padding: 0.5rem;
      }

      ul {
        list-style: none;
      }
    }
  }
}
